@model ShoppingCartViewModel
@{
    ViewData["Title"] = "Cart";
}
<h2>Cart <i class="fa fa-shopping-cart" aria-hidden="true"></i> </h2>


@if (Model.ShoppingCart.ShoppingCartItems?.Count() <= 0)
{
    <br />
    <h6>Opps! Your Cart is empty!</h6>
    return;
}


<table class="table table-striped">
    <thead>
        <tr>
            <th>Cake</th>
            <th>Qty</th>
            <th>Price</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ShoppingCart.ShoppingCartItems)
        {
            <tr>
                <td>@item.Cake.Name</td>
                <td>
                    <form class="d-inline align-middle" asp-action="RemoveFromShoppingCart"
                          asp-controller="ShoppingCart"
                          asp-route-cakeId="@item.CakeId"
                          method="post">
                        <button class="btn fa fa-minus fa-small" aria-hidden="true"></button>
                    </form>
                    <span style="padding:1px 10px">@item.Qty</span>
                    <form class="d-inline align-middle" asp-action="AddToShoppingCart"
                          asp-controller="ShoppingCart"
                          asp-route-cakeId="@item.CakeId"
                          method="post">
                        <button class="btn fa fa-plus fa-small" aria-hidden="true"></button>
                    </form>

                </td>
                <td>@item.Cake.Price.ToString("c")</td>
                <td>@((item.Cake.Price * item.Qty).ToString("c"))</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">Total: </td>
            <td>@Model.ShoppingCartTotal.ToString("c")</td>
        </tr>
        <tr style="border:0">
            <td>
                <form asp-action="RemoveAllCart" method="post">
                    <button class="btn btn-link text-dark" asp-action="RemoveAllCart">
                        <i class="fa fa-times" aria-hidden="true"></i>
                        Clear Cart
                    </button>
                </form>

            </td>
            <td colspan="2"></td>
            <td class="text-center">
                <a class="btn buy-now-btn float-right" asp-action="checkout" asp-controller="order">
                    <i class="fa fa-check-square-o" aria-hidden="true"></i>
                    Checkout
                </a>
            </td>
        </tr>
    </tfoot>
</table>
