@model IEnumerable<MyOrderViewModel>

@if (Model?.Count() <= 0)
{
    <div>
        <p>No Order so far! Go ahead and place some order.</p>
    </div>
    return;
}

<table class="table table-striped text-center">
    <thead>
        <tr>
            <th>Billing Address</th>
            <th>Order Summary</th>
            <th>Total Ammount</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var order in Model)
        {
            <tr>

                <td class="text-justify">
                    <div>
                        @order.OrderPlaceDetails.FirstName @order.OrderPlaceDetails.LastName,
                        @order.OrderPlaceDetails.AddressLine1
                        <div>
                            @order.OrderPlaceDetails.AddressLine2
                        </div>
                    </div>
                    <div>
                        @order.OrderPlaceDetails.City,
                        @order.OrderPlaceDetails.State
                    </div>
                    <div>
                        @order.OrderPlaceDetails.ZipCode
                    </div>
                    <div>@order.OrderPlaceDetails.PhoneNumber</div>
                    <div>@order.OrderPlaceDetails.Email</div>
                    <br />
                    <div>
                        @order.OrderPlacedTime.Date.ToString("dd/MM/yyyy")
                    </div>

                </td>


                <td>
                    <table class="table">
                        <tbody>
                            @foreach (var item in order.CakeOrderInfos)
                            {
                                <tr>
                                    <td>
                                        @item.Name
                                    </td>
                                    <td>
                                        @item.Price.ToString("c") * @item.Qty

                                    </td>
                                </tr>

                            }
                        </tbody>

                    </table>
                </td>
                <td>
                    @order.OrderTotal.ToString("c")
                </td>
            </tr>

        }

    </tbody>
</table>